$red:#fb0101;
$blue:#0d61e7;
$disable:#aaaaaa;
$line: #cbcbcb;
$dark: $line;
$text-title:#242424;
$text-subtitle:#343434;
$text-grey: #bbbbbd;
$white:#ffffff;
$link:#fc5402;
$green: #23d160;
$black: #000000;
$primary: $blue;
$danger: $red;