$red: #D63333;
$blue: #0d61e7;
$disable: #aaaaaa;
$line: #A6A6A6;
$dark: $disable;
$text-title: #242424;
$text-subtitle: #343434;
$text-grey: #eeeeee;
$white: #ffffff;
$link: #fc5402;
$green: #23d160;
$black: #000000;
$primary: $blue;
$danger: $red;
$olive: #D68533;
