@import "./variables";

body,
html {
  margin: 0;
  padding: 0;
  background-color: $white;
}

img {
  display: block;
}

input {
  border: 1px solid $grey;
  border-radius: 0;
  display: block;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input::-ms-clear {
  display: none;
}

a {
  text-decoration: none;
}

input[type="button"]:active,
input[type="submit"]:active {
  filter: brightness(0.6);
}

input.invalid {
  border-color: $danger;
}

input[type="email"].invalid:focus,
input[type="email"]:focus,
input[type="password"].invalid:focus,
input[type="password"]:focus,
input[type="text"].invalid:focus,
input[type="text"]:focus {
  border-color: $primary;
}
