@import "~bulma/sass/utilities/variables.sass";
@import "./variables";

.content-container {
  position: absolute;
  background-color: $white;
  top: 11rem;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 0;
  padding: 0;
  -ms-overflow-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}