@import "./variables";
@import "~bulma";
@import "./common";
html {
  font-size: 12px;
}

body {
  font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  color: $text;
  background-color: $bottom-line-light;
  -ms-overflow-style: none; // box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

body:not(.in-app) {
  .show-in-app {
    display: none;
  }
}

.title {
  &.is-grey {
    color: $text-grey;
  }
  &.is-primary {
    color: $primary;
  }
  &.is-danger {
    color: $danger;
  }
  &.is-lightred {
    color: $lightred;
  }
}

span {
  &.is-primary {
    color: $primary;
  }
  &.is-grey {
    color: $text-grey;
  }
  &.is-danger {
    color: $danger;
  }
  &.is-darkred {
    color: $darkred;
  }
  &.is-sign {
    background-color: $primary;
    color: $white;
    border-radius: 50%;
  }
}

input[type="submit"].button {
  display: block;
  min-width: 8rem;
  border-radius: 0;
  font-weight: 1.25rem;
  font-weight: 500;
  margin: 0.5rem auto;
}

input.input:focus {
  border-color: $blue;
}

#app {
  height: 100vh;
  width: 100vw;
  background-color: $white;
  transform: translate3d(0, 0, 0);
}

.root-container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  &.is-ancestor {
    margin: 0;
  }
}

.top-bar {
  position: relative;
  height: 5rem;
  width: 100vw;
  padding: 1rem 1.5rem;
  .title-bar {
    position: absolute;
    top: 2rem;
    left: 35%;
    width: 30%;
    z-index: 3;
    text-align: center;
    h4 {
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 400;
    }
  }
  .nav {
    align-items: center;
    .nav-right {
      .icon {
        margin-top: 0.2rem;
        margin-right: 1rem;
      }
    }
  }
  &:after {
    @include bottom-line(.5rem, $bottom-line-light);
    width: 100vw;
    left: 0;
  }
}

@media only screen and (max-width: 425px) {
  .top-bar {
    .title-bar {
      left: 3.5rem;
      width: calc(100vw - 14rem);
    }
    .nav {
      .nav-right {
        .icon {
          margin-right: 0.3rem;
        }
      }
    }
  }
}

.content-container {
  position: absolute;
  background-color: $white;
  top: 5rem;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 0;
  padding: 0;
  -ms-overflow-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

.has-bottom-line {
  position: relative;
  &:after {
    @include bottom-line(1px, $bottom-line-dark);
  }
}

.has-hairline-border {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid $grey;
    width: 100%;
    height: 100%;
  }
  &.hairline-hide-right {
    &:after {
      border-right: none;
    }
  }
  &.hairline-hide-top {
    &:after {
      border-top: none;
    }
  }
}

.icon {
  &.image-icon,
  &.nav-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &.nav-icon {
    cursor: pointer;
  }
  &.icon-close {
    background-image: url("~login/assets/times@2x.png");
  }
  &.icon-back {
    background-image: url("~login/assets/back@2x.png");
  }
  &.icon-pull-down {
    background-image: url("~forum/assets/icon-pull-down@2x.png");
  }
  &.icon-search {
    background-image: url("~forum/assets/icon-search@2x.png");
  }
  &.icon-user {
    background-image: url("~forum/assets/icon-user@2x.png");
  }
  &.icon-check {
    background-image: url("~forum/assets/icon-check@2x.png");
  }
  &.icon-heart {
    background-image: url("~forum/assets/icon-heart@2x.png");
  }
  &.icon-heart-o {
    background-image: url("~forum/assets/icon-heart-o@2x.png");
  }
  &.icon-times {
    background-image: url("~forum/assets/icon-times@2x.png");
  }
  &.icon-star {
    background-image: url("~forum/assets/icon-star@2x.png");
  }
  &.icon-top {
    background-image: url("~forum/assets/icon-top@2x.png");
  }
  &.icon-trash {
    background-image: url("~forum/assets/icon-trash@2x.png");
  }
  &.icon-edit {
    background-image: url("~forum/assets/icon-edit@2x.png");
  }
  &.icon-circle {
    background-image: url("data:image/svg+xml;utf8,<svg width=\"1792\" height=\"1792\" viewBox=\"0 0 1792 1792\" \
                           xmlns='http://www.w3.org/2000/svg'> \
                           <path fill=\"#cacaca\" d=\"M1760 896q0 176-68.5 336t-184 275.5-275.5 184-336 68.5-336-68.5-275.5-184-184-275.5-68.5-336q0-213 \
                           97-398.5t265-305.5 374-151v228q-221 45-366.5 221t-145.5 406q0 130 51 248.5t136.5 204 204 136.5 248.5 51 \
                           248.5-51 204-136.5 136.5-204 51-248.5q0-230-145.5-406t-366.5-221v-228q206 31 374 151t265 305.5 97 398.5z\"> \
                           </path></svg>")
  }
  &.icon-upload {
    background-image: url("data:image/svg+xml;utf8,<svg width=\"1792\" height=\"1792\" viewBox=\"0 0 1792 1792\" xmlns=\"http://www.w3.org/2000/svg\">\
                          <path d=\"M1344 1472q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm256 0q0-26-19-45t-45-19-45 \
                          19-19 45 19 45 45 19 45-19 19-45zm128-224v320q0 40-28 68t-68 28h-1472q-40 0-68-28t-28-68v-320q0-40 \
                          28-68t68-28h427q21 56 70.5 92t110.5 36h256q61 0 110.5-36t70.5-92h427q40 0 68 28t28 68zm-325-648q-17 \
                          40-59 40h-256v448q0 26-19 45t-45 19h-256q-26 0-45-19t-19-45v-448h-256q-42 0-59-40-17-39 \
                          14-69l448-448q18-19 45-19t45 19l448 448q31 30 14 69z\" fill=\"#fff\"/></svg>")
  }
  &.icon-spinner {
    background-image: url("data:image/svg+xml;utf8,<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"512\" height=\"512\" viewBox=\"0 0 512 512\"> \
    <g> \
    </g> \
  	<path d=\"M275.682 147.999c0 10.864-8.837 19.661-19.682 19.661v0c-10.875 0-19.681-8.796-19.681-19.661v-96.635c0-10.885 8.806-19.661 19.681-19.661v0c10.844 0 19.682 8.776 19.682 19.661v96.635z\" fill=\"#cacaca\" /> \
  	<path d=\"M275.682 460.615c0 10.865-8.837 19.682-19.682 19.682v0c-10.875 0-19.681-8.817-19.681-19.682v-96.604c0-10.885 8.806-19.681 19.681-19.681v0c10.844 0 19.682 8.796 19.682 19.682v96.604z\" fill=\"#cacaca\" /> \
  	<path d=\"M147.978 236.339c10.885 0 19.681 8.755 19.681 19.641v0c0 10.885-8.796 19.702-19.681 19.702h-96.624c-10.864 0-19.661-8.817-19.661-19.702v0c0-10.885 8.796-19.641 19.661-19.641h96.624z\" fill=\"#cacaca\" /> \
  	<path d=\"M460.615 236.339c10.865 0 19.682 8.755 19.682 19.641v0c0 10.885-8.817 19.702-19.682 19.702h-96.584c-10.885 0-19.722-8.817-19.722-19.702v0c0-10.885 8.837-19.641 19.722-19.641h96.584z\" fill=\"#cacaca\" /> \
  	<path d=\"M193.546 165.703c7.69 7.66 7.68 20.142 0 27.822v0c-7.701 7.701-20.162 7.701-27.853 0.020l-68.311-68.322c-7.68-7.701-7.68-20.142 0-27.863v0c7.68-7.68 20.121-7.68 27.822 0l68.342 68.342z\" fill=\"#cacaca\" /> \
  	<path d=\"M414.597 386.775c7.7 7.68 7.7 20.163 0.021 27.863v0c-7.7 7.659-20.142 7.659-27.843-0.062l-68.311-68.26c-7.68-7.7-7.68-20.204 0-27.863v0c7.68-7.7 20.163-7.7 27.842 0l68.291 68.322z\" fill=\"#cacaca\" /> \
  	<path d=\"M165.694 318.464c7.69-7.7 20.153-7.7 27.853 0v0c7.68 7.659 7.69 20.163 0 27.863l-68.342 68.322c-7.67 7.659-20.142 7.659-27.822-0.062v0c-7.68-7.68-7.68-20.122 0-27.801l68.311-68.322z\" fill=\"#cacaca\" /> \
  	<path d=\"M386.775 97.362c7.7-7.68 20.142-7.68 27.822 0v0c7.7 7.68 7.7 20.183 0.021 27.863l-68.322 68.311c-7.68 7.68-20.163 7.68-27.843-0.020v0c-7.68-7.68-7.68-20.162 0-27.822l68.322-68.332z\" fill=\"#cacaca\" /> \
    </svg>");
  }
} // @2x resources
@media only screen and (-o-min-device-pixel-ratio: 5/4),
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min--moz-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 1.25dppx) {
  body:not(.ios) {
    .has-bottom-line {
      &:after {
        transform: translateZ(0) scaleY(.3);
        transform-origin: 0 0;
      }
    }
    .has-hairline-border {
      &:after {
        width: 200%;
        height: 200%;
        transform: translateZ(0) scale(.5);
        transform-origin: left top;
      }
    }
  }
  body.ios {
    .has-bottom-line {
      &:after {
        border-width: 0.5px;
      }
    }
    .has-hairline-border {
      &:after {
        border-width: 0.5px;
      }
    }
  }
} // @3x resources
@media only screen and (-o-min-device-pixel-ratio: 9/4),
only screen and (-webkit-min-device-pixel-ratio: 2.25),
only screen and (min-device-pixel-ratio: 2.25),
only screen and (min-resolution: 2.25dppx) {
  body:not(.ios) {
    .has-bottom-line {
      &:after {
        transform: translateZ(0) scaleY(.2);
        transform-origin: 0 0;
      }
    }
    .has-hairline-border {
      &:after {
        width: 400%;
        height: 400%;
        transform: translateZ(0) scale(.25);
        transform-origin: left top;
      }
    }
  }
  body.ios {
    .has-bottom-line {
      &:after {
        border-width: 0.3px;
      }
    }
    .has-hairline-border {
      &:after {
        border-width: 0.3px;
        border-width: 0.3px;
      }
    }
  }
  .icon {
    &.icon-close {
      background-image: url("~login/assets/times@3x.png");
    }
    &.icon-back {
      background-image: url("~login/assets/back@3x.png");
    }
    &.icon-pull-down {
      background-image: url("~forum/assets/icon-pull-down@3x.png");
    }
    &.icon-search {
      background-image: url("~forum/assets/icon-search@3x.png");
    }
    &.icon-user {
      background-image: url("~forum/assets/icon-user@3x.png");
    }
    &.icon-check {
      background-image: url("~forum/assets/icon-check@3x.png");
    }
    &.icon-heart {
      background-image: url("~forum/assets/icon-heart@3x.png");
    }
    &.icon-heart-o {
      background-image: url("~forum/assets/icon-heart-o@3x.png");
    }
    &.icon-times {
      background-image: url("~forum/assets/icon-times@3x.png");
    }
    &.icon-star {
      background-image: url("~forum/assets/icon-star@3x.png");
    }
    &.icon-top {
      background-image: url("~forum/assets/icon-top@3x.png");
    }
    &.icon-trash {
      background-image: url("~forum/assets/icon-trash@3x.png");
    }
    &.icon-edit {
      background-image: url("~forum/assets/icon-edit@3x.png");
    }
  }
}

.is-clickable {
  cursor: pointer;
}

.button {
  &.is-grey {
    color: $white;
    background: $grey;
  }
}

.level-button {
  font-weight: 500;
  min-width: 4rem;
  margin: 0;
  height: 2rem;
  font-size: 1.25rem;
  border-radius: 0;
  &.tab-button {
    min-width: 5rem;
  }
}

.tab-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 0.3rem;
  .icon-pull-down {
    margin-top: 0.6rem;
  }
  .button {
    font-weight: 500;
    min-width: 5rem;
    margin: 0.4rem 0.5rem 0.4rem 0;
    height: 2rem;
    font-size: 1rem;
    &:active {
      border-color: transparent;
    }
  }
  span.seperator {
    background-color: $grey;
    margin: 0.4rem 1rem 0;
    width: 1px;
    height: 2rem;
  }
}

.avatar-image {
  margin: auto;
  border-radius: 50%;
  border: none;
  overflow: hidden;
}

.post-detail {
  padding: 0.5rem 0;
  font-size: 1.25rem;
  .nav {
    min-height: 2rem;
    .post-title {
      min-height: 1.25rem;
      line-height: 1.5rem;
      font-size: 1.25rem;
      font-weight: 400;
      white-space: normal;
      margin-right: 0.5rem;
    }
    .tag {
      margin-right: 0.5rem;
    }
    .nav-right {
      flex-grow: 0;
      .level-button {
        min-width: 2rem;
        padding: 0 0.2rem;
        font-size: 1rem;
      }
      .icon {
        width: 1.2rem;
        height: 1.2rem;
        line-height: 1.2rem;
        margin-top: 0.3rem;
        margin-right: 0;
      }
      span.is-darkred {
        font-size: 1.1rem;
      }
    }
  }
  h6.title {
    font-size: 1.25rem;
  }
  .post-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    .ql-editor {
      padding: 0;
      p {
        word-break: break-all;
      }
    }
  }
  span.icon,
  span.is-grey {
    font-size: 1.25rem;
    margin-right: 0.5rem;
  }
  .post-manage-bar {
    padding: 0.5rem 2rem;
    background-color: $bottom-line-light;
    .nav-left {
      flex-grow: 0;
      flex-basis: 6rem;
    }
    .nav-center {
      flex-grow: 1;
      flex-basis: 6rem;
    }
    .nav-right {
      flex-grow: 0;
      flex-basis: 6rem;
    }
    .button {
      font-size: 1.25rem;
      line-height: 2.2rem;
      height: 2.2rem;
    }
    .icon {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem !important;
    }
  }
}

form.post {
  span.is-sign {
    font-size: 1rem;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    padding: 0;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
  }
}

.back-top {
  cursor: pointer;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: #ffffff;
  display: flex;
  font-size: 0.5rem;
  border-radius: 0.3rem;
  flex-direction: column;
  color: $dark;
  opacity: 0.9;
  i {
    color: $primary;
    font-size: 3rem;
  }
}

.post-list-item {
  padding: 0.3rem 0;
  cursor: pointer;
  .title {
    margin-bottom: 0;
    font-weight: 400;
  }
  .level:first-child {
    margin-top: 0.3rem;
  }
  .level:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  .level:last-child {
    margin-bottom: 0.3rem;
  }
  .level-item {
    margin-bottom: 0;
    margin-top: 0;
  }
  .grey-text {
    color: $text-grey;
    font-size: 1.1rem;
  }
  span.is-primary {
    font-size: 1.1rem;
  }
}

.post-detail,
.post-list-item {
  .tag {
    border-radius: 4px;
    font-size: 0.9rem;
    line-height: 1.2;
    height: 1.3rem;
    padding: 0.3rem;
    width: 2.4rem;
    color: $white;
    &.is-essence {
      background: $essence;
    }
    &.image-tag {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      &.has-picture {
        background-image: url("~forum/assets/tag-picture@3x.png");
      }
    }
  }
}

.person {
  .info {
    padding: 0.8rem 2rem 0.8rem;
    font-size: 1.1rem;
    position: relative;
    figure {
      margin-top: 0.8rem;
      margin-right: 2rem;
    }
    p {
      line-height: 2rem;
    }
  }
  .nav {
    margin-bottom: .5em;
    border-top: .5em solid $bottom-line-light;
    border-bottom: .5em solid $bottom-line-light;
    height: 4.8em;
    .nav-center {
      .nav-item {
        color: $black;
        padding: 1em 2em;
        margin: auto 2em;
        font-size: 1.3rem;
        &.is-tab {
          border-bottom-width: 0;
          &:hover {
            @include nav-bar($black)
          }
          &.is-active {
            @include nav-bar($primary)
          }
          &.has-right-line {
            position: relative;
            &:after {
              display: block;
              position: absolute;
              width: 0;
              height: 1.5em;
              top: 1em;
              right: -2em;
              content: "";
              border-right: 0.12em solid $bottom-line-light;
            }
          }
        }
      }
    }
  }
  .content {
    margin-top:1em;
    padding: 1em;
    line-height: 1.5em;
    border: 0.2em solid $bottom-line-light;
  }
}

.search-page {
  .search-bar {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    .input,
    .button {
      border-radius: 0;
    }
  }
}

.control.has-icon {
  span.icon.image-icon {
    width: 1.1rem;
    height: 1.1rem;
    top: 0.65rem;
    left: 0.65rem;
  }
}

.tip-message {
  position: absolute;
  z-index: 3;
  background: transparent;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  margin-top: 5rem;
  animation: message 2s ease;
  .body-message {
    width: 50%;
    padding: 1rem;
    margin: 0 auto;
    font-weight: bold;
    color: $white;
    text-align: center;
    background: $black;
    border-radius: 1rem;
    transition: all 1s ease;
  }
}

@keyframes message {
  0% {
    top: 0;
    opacity: 0;
  }
  50% {
    top: 0;
    opacity: 0.8;
  }
  80% {
    top: 0;
    opacity: 0.8;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}

.modal-content {
  margin: 0;
}

.modal-card-body {
  border-radius: 0.3rem;
  &.modal-menu {
    padding: 0;
    width: 20rem;
    margin: 0 auto;
  }
}

.modal-background {
  opacity: 0.34;
}

.modal-menu {
  .level {
    padding: 1rem 0;
    margin-bottom: 0;
  }
  .level:not(:last-child) {
    margin-bottom: 0;
  }
  .modal-menu-item {
    cursor: pointer;
    .level-left+.level-right {
      margin-top: 0;
    }
    .active {
      color: $primary;
    }
  }
}

.modal-footer {
  background: #fff;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  a {
    width: 45%;
    background-color: $dark;
    border-radius: 5px;
    font-size: 1.2rem;
  }
}

.pagination {
  ul {
    margin: 0 auto;
    li {
      margin: 0 0.1rem;
      float: left;
    }
  }
}

.pagination:after {
  content: '';
  display: block;
  clear: both;
}

.ql-container {
  min-height: 15rem;
}