@import "./initial-bulma";
@import "./bulma-fix";
$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';
@import "common/scss/mixins";
@import "./global";
@import "./icons";
@import 'common/scss/animation.scss';
@import "./jqxs_m_p";
.level:not(:last-child) {
  margin: 0;
  &.has-divider {
    margin-bottom: virtual-m-rem(40);
  }
}

.header {
  height: virtual-m-rem(130);
  background: $black;
  padding: 0 virtual-m-rem(50);
  .level-item {
    width: 33%;
  }
  .is-menu {
    display: flex;
    &.menu-left {
      justify-content: flex-start;
    }
    &.menu-right {
      justify-content: flex-end;
    }
    .menu:not(:last-child) {
      margin-right: virtual-m-rem(60);
    }
  }
}

.load-more {
  width: 100%;
  margin: virtual-m-rem(40) 0;
  height: virtual-m-rem(110);
  background-color: $grey;
  color: black;
}

.comp-author-info {
  position: relative;
  overflow: hidden;
  figure,
  img {
    width: virtual-m-rem(80);
    height: virtual-m-rem(80);
  }
  .item-left {
    position: absolute;
    left: virtual-m-rem(100);
    bottom: 0;
  }
  .item-right {
    position: absolute;
    right: 0;
    &.has-text-top {
      top: 0;
    }
    &.has-text-bottom {
      bottom: 0;
    }
  }
}

.index-page {
  .index-swiper {
    height: virtual-m-rem(600);
    background-color: $blue;
  }
  .index-nav {
    height: virtual-m-rem(275);
    background-color: $white;
    img {
      width: virtual-m-rem(130);
      height: virtual-m-rem(130);
    }
  }
  .forum-section {
    .forum-info {
      display: flex;
      flex-wrap: wrap;
    }
    .forum-item {
      height: virtual-m-rem(200);
      width: 50%;
      display: flex;
      align-items: center;
      figure,
      img {
        width: virtual-m-rem(130);
        height: virtual-m-rem(130);
      }
      .forum-content {
        margin-left: .5rem;
      }
    }
  }
  .article-section {
    .article {
      position: relative;
      height: virtual-m-rem(230);
      padding: virtual-m-rem(33) 0;
      img {
        height: virtual-m-rem(178);
        width: virtual-m-rem(312);
      }
    }
  }
}

.list-page {
  .article {
    padding: .55rem 0;
    .icon {
      margin-right: virtual-m-rem(20);
    }
    .thumbs {
      img.thumb {
        max-height: virtual-m-rem(214);
        max-width: virtual-m-rem(380);
      }
      &+.article-footer {
        margin-top: .5rem;
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid $grey;
    }
  }
}

.detail-page {
  position: relative;
  .author-info {}
  .scroller {
    position: absolute;
    top: virtual-m-rem(100);
    bottom: 0;
  }
}