@import "common/scss/mixins";
.content-container {
  margin: 0 !important;
}

.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.4);
}

.is-white {
  color: $white;
}

.has-radius {
  border-radius: virtual-m-rem(10);
}

.no-radius {
  border-radius: 0;
}

.no-box-shadow {
  box-shadow: none;
}

.tip-number {
  position: absolute;
  top: 0;
  left: 1.95rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.6rem;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
}

.button {
  &.is-thickness {
    width: 4.5rem;
    height: 1.85rem;
  }
}

.buttons {
  background-size: contain;
  background-repeat: no-repeat;
  &.btn-save {
    display: block;
    width: virtual-m-rem(150);
    height: virtual-m-rem(80);
    background-image: url("~assets/themes/jqxs_mobile/19_03_03.png");
  }
}

.common-page {
  .article {
    padding: .55rem .3rem;
    &:not(:last-child) {
      border-bottom: 1px solid $grey;
    }
    .article-date {
      span {
        margin-right: .7rem;
      }
    }
  }
}

.my_profile {
  .article {
    padding: 1.2rem .3rem;
    &:not(:last-child) {
      border-bottom: 1px solid $grey;
    }
  }
  input {
    width: 6.615rem;
    height: 1.89rem;
  }
  .logout {
    width: 78vw;
    margin-top: 3rem;
  }
  .tip-error {
    margin-left: 3.402rem;
    margin-top: .378rem;
    span {
      padding-left: .189rem;
    }
  }
  .tip-message {
    position: fixed;
    top: 35vh;
    left: 6vw;
    height: 10rem;
    width: 88vw;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
  }
  .close {
    position: absolute;
    top: .756rem;
    right: .756rem;
  }
}

.my-message {
  .is-message {
    padding: .7rem .7rem;
    &:not(:last-child) {
      border-bottom: 1px solid $grey;
    }
  }
}

.account {
  background-color: #fff;
  padding-top: 2.835rem;
  form {
    width: 78vw;
    margin: 0 auto 0 auto;
  }
  .fields {
    line-height: 2.5rem;
  }
  .btn-verfy {
    width: 7.56rem;
  }
}