@import "~normalize.css";
@import "./variables";
$primary: #b3182e;
@import "~bulma";
@import "./bulma-fix";
$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';
@import "common/scss/mixins";
@import "./global";
@import "./icons";
@import 'common/scss/animation.scss';
@import "./jqxs_m_p";
html {
  font-size: 100%;
}

.header {
  height: virtual-m-rem(130);
  background: $black;
}