@import "~normalize.css";
@import "./variables";
$primary: #b3182e;
@import "~bulma";
@import "./bulma-fix";
$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';
@import "common/scss/mixins";
@import "./global";
@import "./icons";
@import 'common/scss/animation.scss';
@import "./jqxs_m_p";
.header {
  height: virtual-m-rem(130);
  background: $black;
  padding: 0 virtual-m-rem(50);
  .level-item {
    width: 33%;
  }
  .is-menu {
    display: flex;
    &.menu-left {
      justify-content: flex-start;
    }
    &.menu-right {
      justify-content: flex-end;
    }
    .menu:not(:last-child) {
      margin-right: virtual-m-rem(60);
    }
  }
}