$red: #e8021e;
$orange: #ff6600;
$essence: #f5a623;
$olive: #D68533;
$blue: #0d61e7;
$grey: #cccccc;
$text: #343434;
$text-grey: #767676;
$bottom-line-light: #f2f2f2;
$bottom-line-dark: #979797;
$white: #ffffff;
$primary: $orange;
$danger: $red;
