@mixin bottom-line($height, $color) {
  display: block;
  position: absolute;
  height: 0;
  bottom: 0;
  width: 100%;
  content: "";
  border-bottom: $height solid $color;
}

@mixin nav-bar($color) {
  color: $color;
  background-image: url("~app/assets/nav-narrow@3x.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  border-bottom-width: 0;
}

@mixin border-radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

@mixin display-flex($direction, $justify, $align) {
  display: -webkit-flex;
  -webkit-flex-direction: $direction;
  -webkit-justify-content: $justify;
  -webkit-align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}