$border-color: rgba($text, 0.1);
.icon {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  &.icon-email {
    width: virtual-m-rem(63);
    height: virtual-m-rem(42);
    background-image: url("~assets/pmall/1243_2_01.png");
  }
  &.icon-logo {
    width: virtual-m-rem(548);
    height: virtual-m-rem(285);
    background-image: url("~assets/pmall/1252_03.png");
    position: absolute;
    top: virtual-m-rem(400);
  }
}

.bg-full {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  &.bg-bind-mobile {
    width: 100%;
    height: virtual-m-rem(2034);
    background-image: url("~assets/pmall/1252_01.jpg");
  }
  &.bg-draw-page {
    background-image: url("~assets/pmall/1245_34.jpg");
    min-height: virtual-m-rem(2064);
  }
  &.bg-draw-item {
    background-image: url("~assets/pmall/1245_34_03.png");
    background-size: virtual-m-pixel(990) virtual-m-pixel(982);
    background-position-x: center;
  }
  &.bg-turn-needle {
    background-image: url("~assets/pmall/1245_34345_12.png");
    background-size: virtual-m-rem(145) virtual-m-rem(72);
    background-position: virtual-m-rem(125) 0;
    width: virtual-m-rem(145*2);
    height: virtual-m-rem(72);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: virtual-m-rem(-145);
    margin-top: virtual-m-rem(-72/2);
  }
}

.button {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  &.btn-save-address {
    background-image: url("~assets/pmall/1244_03.png");
    width: virtual-m-rem(685);
    height: virtual-m-rem(108);
  }
  &.btn-official-website {
    background-image: url("~assets/pmall/1252_234_03.png");
    width: virtual-m-rem(370);
    height: virtual-m-rem(126);
    position: absolute;
    top: virtual-m-rem(70);
    right: virtual-m-rem(60);
  }
  &.btn-bind-mobile {
    background-image: url("~assets/pmall/1252_234_11.png");
    width: virtual-m-rem(533);
    height: virtual-m-rem(155);
  }
  &.btn-click-draw {
    background-image: url("~assets/pmall/1245_341_15.png");
    width: virtual-m-rem(482);
    height: virtual-m-rem(134);
  }
  &.btn-answer-ok {
    background-image: url("~assets/pmall/1247_11.png");
    width: virtual-m-rem(304);
    height: virtual-m-rem(98);
  }
  &.btn-answer-complete {
    background-image: url("~assets/pmall/1247_01.png");
    width: virtual-m-rem(304);
    height: virtual-m-rem(98);
  }
}

span {
  &.title {
    font-size: $size5;
  }
  &.subtitle {
    font-size: $size6;
  }
}

.draw-page {
  header {
    width: 100vw;
    height: virtual-m-pixel(800);
  }
  .rotate-container {
    width: 100%;
    height: virtual-m-pixel(982);
    position: relative;
    text-align: center;
    img {
      width: virtual-m-pixel(990);
      height: virtual-m-pixel(982);
    }
  }
  footer {
    margin-top: 1.5rem;
    .my-total {
      min-width: virtual-m-rem(482);
      padding-left: .3rem;
      padding-right: .3rem;
      height: virtual-m-rem(134);
      background-color: $text;
      border: 1px solid $red;
      color: $white;
      margin-right: 1rem;
    }
  }
}

.my-conversion {
  header {
    width: 90vw;
    min-height: virtual-m-rem(130);
    margin: 1rem auto .5rem auto;
    padding-left: 1rem;
    border: 1px solid $border-color;
    border-radius: virtual-m-rem(10);
  }
  .conversion-content {
    padding: 1rem;
    .conversion-item {
      position: relative;
      padding: 1rem 0;
      border-bottom: 1px solid $border-color;
      line-height: 1.5rem;
      .is-right {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
      }
    }
  }
}

.new-address {
  .address-head {
    width: 100vw;
    height: 3.5rem;
    background-color: $red;
    color: $white;
  }
  .address-content {
    flex: 1;
    .fields {
      padding: 1rem 2rem;
      &:first-child {
        margin-top: 2rem;
      }
      &:last-child {
        margin-top: 1rem;
      }
    }
    select {
      width: 90%;
      border: 1px solid $text;
      height: 1.8rem;
      border-radius: 3px;
      color: $grey-darker;
    }
    input {
      width: 90%;
      height: 1.8rem;
      border-radius: 3px;
      &.is-primary {
        border: 1px solid $text;
      }
    }
  }
}

.bind-mobile {
  .items {
    position: absolute;
    top: virtual-m-rem(800);
    .item {
      width: 22rem;
      padding-bottom: 2rem;
      &:last-child {
        margin-top: 1rem;
      }
    }
    input {
      height: 2.5rem;
      padding-left: .5rem;
      &.is-code {
        width: 12rem;
        margin-right: .2rem;
      }
      &.is-mobile {
        width: 21rem;
      }
    }
    .btn-valid-code {
      width: 8.5rem;
      height: 3.1rem;
      color: $red;
      background-color: $text;
      border: 1px solid $red;
    }
  }
}

.know-ledge {
  header {
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-shrink: 0;
    img {
      width: virtual-m-rem(293);
      height: virtual-m-rem(157);
    }
  }
  .items {
    width: 98vw;
    margin: 0 auto;
    flex-shrink: 0;
    .q-item {
      border: 1px solid $border-color;
      border-bottom: none;
      width: 100%;
      padding-top: 1rem;
      h2 {
        &.subtitle {
          text-indent: 2rem;
          padding: 0 1rem;
          font-weight: normal;
        }
      }
    }
    .a-item {
      flex: 1;
      border: 1px solid $border-color;
      width: 100%;
      .answer {
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        border-top: none;
        border-bottom: none;
        position: relative;
        ul {
          padding: .5rem 0 0 0;
          list-style: none;
          margin-bottom: 2.5rem;
          height: 55%;
          li {
            padding-left: 1rem;
            line-height: 2.2rem;
            span {
              &.subtitle {
                text-indent: .5rem;
              }
            }
          }
        }
        .answer-yes {
          position: absolute;
          top: - .7rem;
          width: 100%;
          img {
            width: virtual-m-rem(924);
            height: virtual-m-rem(306);
          }
        }
        .answer-error {
          position: absolute;
          width: 100%;
          top: - .7rem;
          img {
            width: virtual-m-rem(866);
            height: virtual-m-rem(257);
          }
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .n-item {
      width: 100%;
      height: virtual-m-rem(330);
      p {
        &.title {
          text-indent: .5rem;
        }
        &.subtitle {
          text-indent: .5rem;
          padding: 0 .5rem;
        }
      }
    }
  }
}