$red: #a01211;
$orange: #ed8618;
$blue: #333cde;
$green: hsl(141, 71%, 48%);
$grey: #8f8f8f;
$grey-dark: #646464;
$grey-darker: #646464;
$white: #ffffff;
$primary: #df2521;
$info: $orange;
$success: $blue;
$warning: $red;
$danger: $red;
$text: black;
$text-grey: $grey-dark;
$size1: 2.5rem;
$size2: 1.8rem;
$size3: 1.5rem;
$size4: 1.2rem;
$size5: 1rem;
$size6: 0.85rem;
$size7: 0.75rem;
$size-small: $size7;
$size-normal: $size5;
$size-medium: $size4;
$size-large: $size2;