html,
body {
    margin: 0;
    padding: 0;
}

input.invalid {
    border-color: #ff3860;
}

.errors {
    color: #ff3860;
}

@media screen and (max-width: 768px) {
    .g-con {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .login-box {
            width: 80vw;
            height: 60vh;
            margin: auto;
            .row-login {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: .5rem;
                p {
                    flex: 1;
                    font-size: .5rem;
                    text-align: center;
                }
                input {
                    padding: 9px;
                    font-size: .6rem;
                    flex: 1;
                }
                a {
                    font-size: .4rem;
                }
                .clearTimes {
                    right: 0;
                    height: 100%;
                    width: .6rem;
                    position: absolute;
                    display: none;
                    svg {
                        height: 100%;
                        path {
                            display: block;
                            margin: auto;
                        }
                    }
                }
            }
            .row-login:hover .clearTimes {
                display: block;
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .g-con {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .login-box {
            width: 40vw;
            height: 30vh;
            margin: auto;
            .row-login {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: .5rem;
                p {
                    flex: 1;
                    font-size: .5rem;
                    text-align: center;
                }
                input {
                    padding: 9px;
                    font-size: .4rem;
                    flex: 1;
                }
                a {
                    font-size: .4rem;
                }
                .clearTimes {
                    right: 0;
                    width: .6rem;
                    height: 100%;
                    position: absolute;
                    display: none;
                    svg {
                        height: 100%;
                        path {
                            display: block;
                            margin: auto;
                        }
                    }
                }
            }
            .row-login:hover .clearTimes {
                display: block;
            }
        }
    }
}

@media screen and (min-width: 980px) {
    .g-con {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .login-box {
            width: 40%;
            height: 30%;
            margin: auto;
            .row-login {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: .5rem;
                p {
                    flex: 1;
                    font-size: .5rem;
                    text-align: center;
                }
                input {
                    padding: 9px;
                    
                    flex: 1;
                }
                a {
                    font-size: .4rem;
                }
                .clearTimes {
                    right: 0;
                    width: .6rem;
                    height: 100%;
                    position: absolute;
                    display: none;
                    svg {
                        height: 100%;
                        path {
                            display: block;
                            margin: auto;
                        }
                    }
                }
            }
            .row-login:hover .clearTimes {
                display: block;
            }
        }
    }
}