@import "./color";
@import "./font";
@import "./common";
@import "./transition";
@import "~bulma";
html {
  font-size: $middle;
}

.g-doc {
  background: $white;
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .g-con {
    background: $white;
    position: relative;
    margin: 0 auto;
    min-height: 320px;
    .fa-icon.closeIcon {
      position: absolute;
      right: .3rem;
      top: 1.5rem;
    }
    .g-mask {
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      .login-box {
        border-radius: .5rem;
        max-width: 100vh;
        margin: 0 auto;
        .row-login {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 0;
          p.title {
            flex: 1;
            margin: 1rem 0;
            line-height: 2.5rem;
            vertical-align: middle;
            font-size: 1rem;
            text-align: center;
          }
          input {
            padding: .5rem;
            padding-left: 1.4rem;
            font-size: .6rem;
            flex: 1;
          }
          input[name=password] {
            border-top: none;
          }
          input[name=confirmPassword] {
            border-top: none;
          }
          input[name=verifyCode] {
            border-top: none;
          }
          input[type=submit] {
            color: $white;
            background: $blue;
            border: none;
            padding: .8rem;
            font-size: .8rem;
            margin: auto;
          }
          input.outsideText {
            flex: 1;
            width: 30%;
          }
          .insideInput {
            color: $white;
            background: $primary;
            padding: 0;
            margin: 0;
            display: inline-block;
            background: $link;
            border-radius: .2rem;
          }
          .fa-icon {
            line-height: 100%;
            height: 100%;
            vertical-align: middle;
          }
          .captchaBox {
            max-height: 2rem;
            padding: 2px;
            display: flex;
            flex-direction: row;
            .captcha {
              flex: 1
            }
            .changeCode {
              color: $white;
              padding: .4rem;
              font-size: .8rem;
              border: none;
              border-radius: .2rem;
              background: $link;
            }
          }
          hr {
            width: 50%;
            height: 1px;
            background: $dark;
            border: none;
          }
          span {
            white-space: nowrap;
            margin: auto 1rem;
            font-size: .6rem;
          }
          .tileWays {
            width: 25%;
            float: left;
            text-align: center;
            padding-top: .5rem;
            figure {
              width: 2rem;
              height: 2rem;
              border: 1px solid;
              margin: auto;
            }
            p {
              color: $dark;
              font-size: .5rem;
            }
          }
          a {
            color: $link;
            font-size: .5rem;
            padding-top: .5rem;
          }
          .headerIcon {
            left: .4rem;
            width: .5rem;
            height: 100%;
            position: absolute;
          }
          .tailIcon{
            right: .8rem;
            width: .5rem;
            height: 100%;
            position: absolute;
          }
        }
        .errors {
          font-size: .6rem;
          margin: .3rem;
          vertical-align: middle;
          color: $danger;
          .fa-icon {
            line-height: 100%;
            height: 100%;
            max-height: 1.5rem;
            vertical-align: middle;
          }
        }
        .codeTip {
          font-size: .8rem;
          margin: 1rem .2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .g-doc {
    .g-con {
      width: 100vw;
      max-width: 100vh;
      min-height: 300px;
      .g-mask {
         max-width: 85vw;
        .login-box {
          .row-login {
            input {
              font-size: .6rem;
            }
            a {
              font-size: .6rem;
            }
            .captchaBox {
              flex: 2;
              max-height: 2rem;
              display: flex;
              flex-direction: row;
              .changeCode {
                padding: 0;
                font-size: .6rem;
                border: none;
              }
            }
          }
          .errors {
            font-size: .8rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  html {
    font-size: $middle;
  }
  .g-doc {
    .g-con {
      width: 50vw;
      max-width: 360px;
      .g-mask {
        max-width: 280px;
        .login-box {
          .row-login {
            input {
              font-size: .8rem;
            }
            a {
              font-size: .8rem;
            }
            .captchaBox {
              flex: 2;
              max-height: 2rem;
              display: flex;
              flex-direction: row;
              .changeCode {
                padding: 0;
                font-size: .8rem;
                border: none;
              }
            }
          }
          .errors {
            margin: .2rem;
            font-size: .8rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 980px) {
  html {
    font-size: $large;
  }
  .g-doc {
    .g-con {
      width: 40vw;
      max-width: 400px;
      .g-mask {
        max-width: 340px;
        .login-box {
          .row-login {
            input {
              font-size: .8rem;
            }
            a {
              font-size: .8rem;
            }
            .captchaBox {
              flex: 2;
              max-height: 2rem;
              display: flex;
              flex-direction: row;
              .changeCode {
                padding: 0;
                font-size: .8rem;
                border: none;
              }
            }
          }
          .errors {
            margin: .2rem;
            font-size: .8rem;
          }
        }
      }
    }
  }
}