@import "./color";
@import "./font";
@import "./common";
@import "./transition";
html {
  font-size: $middle;
}

body:not(.in-app) {
  .show-in-app {
    display: none;
  }
}

body.in-app {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // hardware accelerate
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

body.wp8 {
  background: #000;
}

body.in-app *:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

$form-height: 230px;
.g-doc {
  background: $white;
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.g-con {
  background: $white;
  position: relative;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 100px;
  height: $form-height;
  width: 100%;
  overflow: hidden;
}

.g-mask {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 0 1rem;
  max-width: 300px;
  height: $form-height;
}

body.in-app,
body.wp8 {
  .g-doc {
    display: block;
  }
  .g-con {
    display: block;
    padding-bottom: 0px;
  }
  .login-box {
    .row-login {
      p.title {
        font-size: 1rem;
        margin: 0.3rem 0;
      }
    }
  }
}

body.wp8 {
  .g-con {
    padding-top: 2rem;
  }
}

hr {
  width: 100%;
  height: 1px;
  margin: .7rem 0;
  background: $line;
  border: none;
}

.login-box {
  position: relative;
  border-radius: .5rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  .account-list {
    position: absolute;
    z-index: 3;
    opacity: .95;
    top: 2.5rem;
    left: .1rem;
    width: 98%;
    border: 1px solid $line;
    background: $white;
    .account-item {
      color: $black;
      font-size: .7rem;
      padding: .5rem;
    }
    .account-item:hover {
      background: $primary;
      color: $white;
    }
  }
  .row-login {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0;
    p.title {
      -ms-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      margin: 0.6rem 0;
      line-height: 2.5rem;
      vertical-align: middle;
      font-size: 1.3rem;
      text-align: center;
      color: $text-title;
    }
    input {
      height: 100%;
      padding: .6rem;
      padding-left: 2rem;
      font-size: .6rem;
      -ms-flex: 1;
      -webkit-flex: 1;
      flex: 1;
    }
    input[name=password].sibling:not(:focus) {
      border-top: none;
    }
    input[name=verifyCode].sibling:not(:focus) {
      border-top: none;
    }
    input[type=submit] {
      color: $white;
      background: $blue;
      border: none;
      padding: .6rem;
      font-size: 1rem;
      margin: auto;
    }
    input.outsideText {
      -ms-flex: 1;
      -webkit-flex: 1;
      flex: 1;
    }
    .inside-input {
      position: absolute;
      height: 70%;
      right: .4rem;
      top: 15%;
      padding: 0.2rem;
      color: $white;
      font-size: .7rem;
      line-height: .7rem;
      text-align: center;
      display: inline-block;
      background: $link;
      border-radius: .2rem;
      border: none;
    }
    .fa-icon {
      line-height: 100%;
      height: 100%;
      vertical-align: middle;
    }
    .captchaBox {
      max-height: 2rem;
      padding: 2px;
      display: flex;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;
      .captcha {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }
    }
    hr {
      width: 50%;
      height: 1px;
      background: $line;
      border: none;
    }
    a {
      cursor: pointer;
      color: $link;
      font-size: .6rem;
      padding-top: .5rem;
      &.pull-left {
        position: absolute;
        left: 0rem;
      }
      &.pull-right {
        position: absolute;
        right: 0rem;
      }
    }
  }
  .code-tip {
    color: $text-grey;
    font-size: .8rem;
    margin: 0 .2rem;
    margin-bottom: 1rem;
    strong {
      color: $link;
    }
  }
}

span.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

span.nav-icon {
  position: absolute;
  z-index: 2;
  top: .8rem;
  width: 1rem;
  height: 1rem;
  &.icon-close {
    background-image: url(~login/assets/times@1x.png)
  }
  &.icon-back {
    background-image: url(~login/assets/back@1x.png)
  }
  &:not(.pull-right) {
    left: .8rem;
  }
  &.pull-right {
    right: .8rem;
  }
}

@keyframes linear-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes linear-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation-name: linear-rotate;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: linear-rotate;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

span.progress-icon {
  position: absolute;
  width: 1.2rem;
  height: 100%;
  right: 0.8rem;
  z-index: 2;
  background-image: url(~login/assets/circle-o-notch@1x.png);
}

span.addon-icon {
  top: 0;
  margin: 0;
  width: 1rem;
  height: 100%;
  vertical-align: center;
  display: inline-block;
  position: absolute;
  &:not(.pull-right) {
    left: .65rem;
  }
  &.pull-right {
    right: .65rem;
  }
  &.icon-user {
    background-image: url(~login/assets/user@1x.png)
  }
  &.icon-lock {
    background-image: url(~login/assets/lock@1x.png)
  }
  &.icon-eye {
    background-image: url(~login/assets/eye@1x.png)
  }
  &.icon-eye-slash {
    background-image: url(~login/assets/eye-slash@1x.png)
  }
  &.icon-check {
    background-image: url(~login/assets/check@1x.png)
  }
  &.icon-down {
    background-image: url(~login/assets/down@1x.png)
  }
  &.icon-times {
    background-image: url(~login/assets/times@1x.png)
  }
  &.flip-vertical {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  &.icon-small {
    width: 0.6rem;
  }
}

p.errors {
  font-size: .6rem;
  margin: .2rem;
  vertical-align: middle;
  color: $danger;
  span {
    display: inline-block;
    vertical-align: middle;
    &.error-sign {
      width: .9rem;
      height: .9rem;
      background-image: url(~login/assets/error-sign@1x.png);
    }
  }
}

div.horizontal-stack-box {
  width: 100%;
  height: 80%;
  text-align: center;
  @include display-flex(row, space-around, center);
  .tile {
    max-width: 25%;
    overflow: hidden;
    .sdk-icon {
      cursor: pointer;
      display: block;
      width: 3.5rem;
      height: 3.5rem;
      @include border-radius(50%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      &.anonymous {
        background-image: url(~login/assets/anonymous@1x.png);
      }
      &.firevale {
        background-image: url(~login/assets/firevale@1x.png);
      }
      &.wechat {
        background-image: url(~login/assets/wechat@1x.png);
      }
      &.qq {
        background-image: url(~login/assets/qq@1x.png);
      }
      &.weibo {
        background-image: url(~login/assets/weibo@1x.png);
      }
    }
    p {
      margin-top: 0.3rem;
      font-size: .8rem;
      font-weight: normal;
      color: $text-subtitle;
    }
  }
}

// @2x
@media only screen and (-o-min-device-pixel-ratio: 5/4),
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min--moz-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 1.25dppx) {
  span.nav-icon.icon-close {
    background-image: url(~login/assets/times@2x.png)
  }
  span.nav-icon.icon-back {
    background-image: url(~login/assets/back@2x.png)
  }
  div.horizontal-stack-box {
    .tile {
      .sdk-icon {
        &.anonymous {
          background-image: url(~login/assets/anonymous@2x.png);
        }
        &.firevale {
          background-image: url(~login/assets/firevale@2x.png);
        }
        &.wechat {
          background-image: url(~login/assets/wechat@2x.png);
        }
        &.qq {
          background-image: url(~login/assets/qq@2x.png);
        }
        &.weibo {
          background-image: url(~login/assets/weibo@2x.png);
        }
      }
    }
  }
  span.addon-icon {
    &.icon-user {
      background-image: url(~login/assets/user@2x.png)
    }
    &.icon-lock {
      background-image: url(~login/assets/lock@2x.png)
    }
    &.icon-eye {
      background-image: url(~login/assets/eye@2x.png)
    }
    &.icon-eye-slash {
      background-image: url(~login/assets/eye-slash@2x.png)
    }
    &.icon-check {
      background-image: url(~login/assets/check@2x.png)
    }
    &.icon-down {
      background-image: url(~login/assets/down@2x.png)
    }
    &.icon-times {
      background-image: url(~login/assets/times@2x.png)
    }
  }
  span.progress-icon {
    background-image: url(~login/assets/circle-o-notch@2x.png);
  }
}

// @3x
@media only screen and (-o-min-device-pixel-ratio: 9/4),
only screen and (-webkit-min-device-pixel-ratio: 2.25),
only screen and (min--moz-device-pixel-ratio: 2.25),
only screen and (min-device-pixel-ratio: 2.25),
only screen and (min-resolution: 2.25dppx) {
  span.nav-icon.icon-close {
    background-image: url(~login/assets/times@3x.png)
  }
  span.nav-icon.icon-back {
    background-image: url(~login/assets/back@3x.png)
  }
  div.horizontal-stack-box {
    .tile {
      .sdk-icon {
        &.anonymous {
          background-image: url(~login/assets/anonymous@3x.png);
        }
        &.firevale {
          background-image: url(~login/assets/firevale@3x.png);
        }
        &.wechat {
          background-image: url(~login/assets/wechat@3x.png);
        }
        &.qq {
          background-image: url(~login/assets/qq@3x.png);
        }
        &.weibo {
          background-image: url(~login/assets/weibo@3x.png);
        }
      }
    }
  }
  span.addon-icon {
    &.icon-user {
      background-image: url(~login/assets/user@3x.png)
    }
    &.icon-lock {
      background-image: url(~login/assets/lock@3x.png)
    }
    &.icon-eye {
      background-image: url(~login/assets/eye@3x.png)
    }
    &.icon-eye-slash {
      background-image: url(~login/assets/eye-slash@3x.png)
    }
    &.icon-check {
      background-image: url(~login/assets/check@3x.png)
    }
    &.icon-down {
      background-image: url(~login/assets/down@3x.png)
    }
    &.icon-times {
      background-image: url(~login/assets/times@3x.png)
    }
  }
  span.progress-icon {
    background-image: url(~login/assets/circle-o-notch@3x.png);
  }
}

@media only screen and (max-width: 768px) {
  .login-box {
    .row-login {
      input {
        font-size: .8rem;
      }
      a {
        font-size: .8rem;
      }
      .inside-input {
        padding: .3rem .3rem;
      }
    }
  }
  p.errors {
    font-size: .8rem;
  }
}

@media only screen and (min-width: 769px) {
  html {
    font-size: $middle;
  }
  .login-box {
    .row-login {
      input {
        font-size: .8rem;
      }
      a {
        font-size: .8rem;
      }
    }
    .code-tip {
      font-size: .9rem;
    }
  }
  p.errors {
    margin: .2rem;
    font-size: .8rem;
  }
}

@media only screen and (min-width: 980px) {
  html {
    font-size: $large;
  }
  .login-box {
    .row-login {
      input {
        font-size: 0.9rem;
      }
      a {
        font-size: .9rem;
      }
    }
    .code-tip {
      font-size: .9rem;
    }
  }
  p.errors {
    margin: .2rem;
    font-size: .8rem;
  }
}

.is-84x84 {
  width: 84px;
  height: 84px;
  border: 1px solid $dark;
  border-radius: 50%;
  overflow: hidden;
}

.user-name {
  color: $text-grey;
  text-align: center;
  font-size: .8rem;
  margin: 0 0 .5rem 0;
}

.nick-name {
  margin-top: .5rem;
  padding: .2rem .2rem !important;
  font-size: .8rem !important;
}

.error-sign {
  width: .9rem;
  height: .9rem;
  background-image: url(~login/assets/error-sign@1x.png);
}

.nick-txt {
  color: $text-grey;
  line-height: 2rem;
  margin-top: .35rem;
  margin-right: .2rem;
  font-size: .8rem;
}

.confirm-button {
  font-size: .6rem !important;
  flex: 0 !important;
  padding: .3rem .8rem !important;
  margin-top: .5rem !important;
  margin-left: .2rem !important;
  text-align: center;
  background: $link;
  color: $white;
  cursor: pointer;
}

.submit-button {
  font-size: .9rem !important;
  padding: .5rem !important;
}

.edit-sign {
  width: .9rem;
  height: .9rem;
  display: inline-block;
  margin-left: 1rem;
  background-image: url(~login/assets/edit@1x.png);
  cursor: pointer;
}

.native-button {
  font-size: .9rem !important;
  margin-top: .6rem !important;
}