@mixin slideIn($from, $to) {
  from {
    -webkit-transform: translate3d($from, -100%, 0);
    transform: translate3d($from, -100%, 0);
  }
  to {
    -webkit-transform: translate3d($to, -100%, 0);
    transform: translate3d($to, -100%, 0);
  }
}

@keyframes slideInLeft {
  @include slideIn(-100%, 0);
}

@-webkit-keyframes slideInLeft {
  @include slideIn(-100%, 0);
}

@keyframes slideInRight {
  @include slideIn(100%, 0);
}

@-webkit-keyframes slideInRight {
  @include slideIn(100%, 0);
}

@mixin slideOut($from, $to) {
  from {
    opacity: 1;
    -webkit-transform: translate3d($from, 0, 0);
    transform: translate3d($from, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d($to, 0, 0);
    transform: translate3d($to, 0, 0);
  }
}

@keyframes slideOutLeft {
  @include slideOut(0, -100%);
}

@-webkit-keyframes slideOutLeft {
  @include slideOut(0, -100%)
}

@keyframes slideOutRight {
  @include slideOut(0, 100%);
}

@-webkit-keyframes slideOutRight {
  @include slideOut(0, 100%);
}

$animation-time: 0.2s;
.slide-left-enter-active {
  -webkit-animation: slideInRight $animation-time ease;
  animation: slideInRight $animation-time ease;
}

.slide-left-leave-active {
  -webkit-animation: slideOutLeft $animation-time ease;
  animation: slideOutLeft $animation-time ease;
}

.slide-right-enter-active {
  -webkit-animation: slideInleft $animation-time ease;
  animation: slideInLeft $animation-time ease;
}

.slide-right-leave-active {
  -webkit-animation: slideOutRight $animation-time ease;
  animation: slideOutRight $animation-time ease;
}