goodsId: '<%= @goods_id %>',
order_id: '<%= @order_id %>',
goods_name: '<%= @goods_name %>',
goods_icon: <%= if is_nil(@goods_icon) do %>
            null
            <% else %>
            '<% @goods_icon %>'
            <% end %>,
price: <%= @price %>,
currency: '<%= @currency %>',
  