@import '~login/scss/login';

body.in-app,
body.wp8 {
  div.g-con {
    height: 100%;
    display: block;
  }

  div.g-mask {
    height: 100%;
  }

  div.login-box {
    margin-top: 25%;
    height: 160px;
  }

  div.row-login {
    height: 40px;
  }

  div.horizontal-stack-box {
    height: 120px;

    .tile {
      height: 80%;
      @include display-flex(column, space-around, center);
    }
  }
}

.is-84x84 {
  width: 84px;
  height: 84px;
  border: 1px solid $dark;
  border-radius: 50%;
  overflow: hidden;
}

.nickname-label {
  color: $text-grey;
  line-height: 2rem;
  margin-top: 0.35rem;
  margin-right: 0.2rem;
  font-size: 0.8rem;
}

.nickname {
  margin-top: .5rem;
  color: black;
  padding: .2rem .2rem !important;
  font-size: .8rem !important;
}

.confirm-button {
  font-size: .6rem !important;
  flex: 0 !important;
  padding: .3rem .8rem !important;
  margin-top: .5rem !important;
  margin-left: .2rem !important;
  text-align: center;
  background: $link;
  color: $white;
  cursor: pointer;
  border: none;
}
