.customer-service.content-container {
    top: 11rem;
}

.contact-service {
    .contact-center {
        margin: 0.5em;
    }
    .bottom-left {
        flex-direction: column;
        align-content: flex-start;
        color: $text-grey;
        letter-spacing: 0.12em;
        font-family: MicrosoftYaHei;
        text-align: left;
    }
    .bottom-left span {
        color: $primary;
    }
    .bottom-right {
        flex-direction: column;
        align-content: flex-start;
        color: $text-grey;
        letter-spacing: 0.12em;
        font-family: MicrosoftYaHei;
        text-align: left;
    }
    .bottom-right span {
        color: $primary;
    }
}
.my-service{
    .level-left span{
        color: $text-grey;
        letter-spacing: 0.12em;
        font-family: MicrosoftYaHei;
    }
    .level-right span{
        color: $text-grey;
        letter-spacing: 0.12em;
        font-family: MicrosoftYaHei;
    }
    .level-right a{
        color: $text-grey;
        letter-spacing: 0.12em;
        font-family: MicrosoftYaHei;
    }
    .level-right .service-reply{
        color: $primary;
    }
}