.icon {
  &.image-icon,
  &.nav-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  &.circle-icon {
    @include border-radius(50%);
    border: 1px solid $grey;
    &.active {
      background-color: $primary;
      border: none;
    }
  }
  &.nav-icon {
    cursor: pointer;
  }
  &.icon-close {
    background-image: url("~assets/times@2x.png");
  }
  &.icon-back {
    background-image: url("~assets/back@2x.png");
  }
  &.icon-pull-down {
    background-image: url("~assets/icon-pull-down@2x.png");
  }
  &.icon-search {
    background-image: url("~assets/icon-search@2x.png");
  }
  &.icon-user {
    background-image: url("~assets/icon-user@2x.png");
  }
  &.icon-check {
    background-image: url("~assets/icon-check@2x.png");
  }
  &.icon-heart {
    background-image: url("~assets/icon-heart@2x.png");
  }
  &.icon-heart-o {
    background-image: url("~assets/icon-heart-o@2x.png");
  }
  &.icon-times {
    background-image: url("~assets/icon-times@2x.png");
  }
  &.icon-star {
    background-image: url("~assets/icon-star@2x.png");
  }
  &.icon-top {
    background-image: url("~assets/icon-top@2x.png");
  }
  &.icon-trash {
    background-image: url("~assets/icon-trash@2x.png");
  }
  &.icon-remove {
    background-image: url("~assets/icon-remove@2x.png");
  }
  &.icon-edit {
    background-image: url("~assets/icon-edit@2x.png");
  }
  &.icon-shield {
    background-image: url("~assets/icon-shield@2x.png");
  }
  &.icon-mobile {
    background-image: url("~assets/icon-mobile@2x.png");
  }
  &.icon-error-sign {
    background-image: url("~assets/icon-error-sign@1x.png");
  }
  &.icon-lock {
    background-image: url("~assets/lock@2x.png");
  }
  &.icon-eye {
    background-image: url("~assets/eye@2x.png");
  }
  &.icon-eye-slash {
    background-image: url("~assets/eye-slash@2x.png");
  }
  &.icon-arrow-right {
    transform: rotate(270deg);
    background-image: url("~assets/down@2x.png");
  }
  &.icon-envelope {
    background-image: url("~assets/icon-envelope@2x.png");
  }
  &.icon-edit {
    background-image: url("~assets/edit@2x.png");
  }
  &.icon-solid {
    background-image: url("~assets/icon-solid@2x.png");
  }
  &.icon-select {
    background-image: url("~assets/icon-select@2x.png");
  }
  &.icon-circle {
    background-image: url("data:image/svg+xml;utf8,<svg width=\"1792\" height=\"1792\" viewBox=\"0 0 1792 1792\" \
                           xmlns='http://www.w3.org/2000/svg'> \
                           <path fill=\"#cacaca\" d=\"M1760 896q0 176-68.5 336t-184 275.5-275.5 184-336 68.5-336-68.5-275.5-184-184-275.5-68.5-336q0-213 \
                           97-398.5t265-305.5 374-151v228q-221 45-366.5 221t-145.5 406q0 130 51 248.5t136.5 204 204 136.5 248.5 51 \
                           248.5-51 204-136.5 136.5-204 51-248.5q0-230-145.5-406t-366.5-221v-228q206 31 374 151t265 305.5 97 398.5z\"> \
                           </path></svg>")
  }
  &.icon-upload {
    background-image: url("data:image/svg+xml;utf8,<svg width=\"1792\" height=\"1792\" viewBox=\"0 0 1792 1792\" xmlns=\"http://www.w3.org/2000/svg\">\
                          <path d=\"M1344 1472q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm256 0q0-26-19-45t-45-19-45 \
                          19-19 45 19 45 45 19 45-19 19-45zm128-224v320q0 40-28 68t-68 28h-1472q-40 0-68-28t-28-68v-320q0-40 \
                          28-68t68-28h427q21 56 70.5 92t110.5 36h256q61 0 110.5-36t70.5-92h427q40 0 68 28t28 68zm-325-648q-17 \
                          40-59 40h-256v448q0 26-19 45t-45 19h-256q-26 0-45-19t-19-45v-448h-256q-42 0-59-40-17-39 \
                          14-69l448-448q18-19 45-19t45 19l448 448q31 30 14 69z\" fill=\"#fff\"/></svg>")
  }
  &.icon-spinner {
    background-image: url("data:image/svg+xml;utf8,<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"512\" height=\"512\" viewBox=\"0 0 512 512\"> \
    <g> \
    </g> \
  	<path d=\"M275.682 147.999c0 10.864-8.837 19.661-19.682 19.661v0c-10.875 0-19.681-8.796-19.681-19.661v-96.635c0-10.885 8.806-19.661 19.681-19.661v0c10.844 0 19.682 8.776 19.682 19.661v96.635z\" fill=\"#cacaca\" /> \
  	<path d=\"M275.682 460.615c0 10.865-8.837 19.682-19.682 19.682v0c-10.875 0-19.681-8.817-19.681-19.682v-96.604c0-10.885 8.806-19.681 19.681-19.681v0c10.844 0 19.682 8.796 19.682 19.682v96.604z\" fill=\"#cacaca\" /> \
  	<path d=\"M147.978 236.339c10.885 0 19.681 8.755 19.681 19.641v0c0 10.885-8.796 19.702-19.681 19.702h-96.624c-10.864 0-19.661-8.817-19.661-19.702v0c0-10.885 8.796-19.641 19.661-19.641h96.624z\" fill=\"#cacaca\" /> \
  	<path d=\"M460.615 236.339c10.865 0 19.682 8.755 19.682 19.641v0c0 10.885-8.817 19.702-19.682 19.702h-96.584c-10.885 0-19.722-8.817-19.722-19.702v0c0-10.885 8.837-19.641 19.722-19.641h96.584z\" fill=\"#cacaca\" /> \
  	<path d=\"M193.546 165.703c7.69 7.66 7.68 20.142 0 27.822v0c-7.701 7.701-20.162 7.701-27.853 0.020l-68.311-68.322c-7.68-7.701-7.68-20.142 0-27.863v0c7.68-7.68 20.121-7.68 27.822 0l68.342 68.342z\" fill=\"#cacaca\" /> \
  	<path d=\"M414.597 386.775c7.7 7.68 7.7 20.163 0.021 27.863v0c-7.7 7.659-20.142 7.659-27.843-0.062l-68.311-68.26c-7.68-7.7-7.68-20.204 0-27.863v0c7.68-7.7 20.163-7.7 27.842 0l68.291 68.322z\" fill=\"#cacaca\" /> \
  	<path d=\"M165.694 318.464c7.69-7.7 20.153-7.7 27.853 0v0c7.68 7.659 7.69 20.163 0 27.863l-68.342 68.322c-7.67 7.659-20.142 7.659-27.822-0.062v0c-7.68-7.68-7.68-20.122 0-27.801l68.311-68.322z\" fill=\"#cacaca\" /> \
  	<path d=\"M386.775 97.362c7.7-7.68 20.142-7.68 27.822 0v0c7.7 7.68 7.7 20.183 0.021 27.863l-68.322 68.311c-7.68 7.68-20.163 7.68-27.843-0.020v0c-7.68-7.68-7.68-20.162 0-27.822l68.322-68.332z\" fill=\"#cacaca\" /> \
    </svg>");
  }
  &.icon-right {
    background-image: url("~assets/icon-right@3x.png");
  }
} // @2x resources
@media only screen and (-o-min-device-pixel-ratio: 5/4),
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min--moz-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 1.25dppx) {}

// @3x resources
@media only screen and (-o-min-device-pixel-ratio: 9/4),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx) {
  .icon {
    &.icon-close {
      background-image: url("~assets/times@3x.png");
    }
    &.icon-back {
      background-image: url("~assets/back@3x.png");
    }
    &.icon-pull-down {
      background-image: url("~assets/icon-pull-down@3x.png");
    }
    &.icon-search {
      background-image: url("~assets/icon-search@3x.png");
    }
    &.icon-user {
      background-image: url("~assets/icon-user@3x.png");
    }
    &.icon-check {
      background-image: url("~assets/icon-check@3x.png");
    }
    &.icon-heart {
      background-image: url("~assets/icon-heart@3x.png");
    }
    &.icon-heart-o {
      background-image: url("~assets/icon-heart-o@3x.png");
    }
    &.icon-times {
      background-image: url("~assets/icon-times@3x.png");
    }
    &.icon-star {
      background-image: url("~assets/icon-star@3x.png");
    }
    &.icon-top {
      background-image: url("~assets/icon-top@3x.png");
    }
    &.icon-trash {
      background-image: url("~assets/icon-trash@3x.png");
    }
    &.icon-remove {
      background-image: url("~assets/icon-remove@3x.png");
    }
    &.icon-circle {
      background-image: url("~assets/icon-circle@3x.png");
    }
    &.icon-solid {
      background-image: url("~assets/icon-solid@3x.png");
    }
    &.icon-edit {
      background-image: url("~assets/icon-edit@3x.png");
    }
    &.icon-mobile {
      background-image: url("~assets/icon-mobile@3x.png");
    }
    &.icon-shield {
      background-image: url("~assets/icon-shield@3x.png");
    }
    &.icon-error-sign {
      background-image: url("~assets/icon-error-sign@2x.png");
    }
    &.icon-lock {
      background-image: url("~assets/lock@3x.png");
    }
    &.icon-eye {
      background-image: url("~assets/eye@3x.png");
    }
    &.icon-eye-slash {
      background-image: url("~assets/eye-slash@3x.png");
    }
    &.icon-envelope {
      background-image: url("~assets/icon-envelope@3x.png");
    }
    &.icon-pen {
      background-image: url("~assets/icon-pen@3x.png");
    }
    &.icon-edit {
      background-image: url("~assets/edit@3x.png");
    }
    &.icon-select {
      background-image: url("~assets/icon-select@3x.png");
    }
    &.icon-right {
      background-image: url("~assets/icon-right@3x.png");
    }
  }
}