.currency {
  &.CNY:before {
    content: '¥';
  }
  &.USD:before {
    content: '$';
  }
}

.no-border {
  border: 0;
  box-shadow: none;
}

.width-5 {
  width: 5rem;
}

.mall-index {
  position: relative;
  margin: 1rem;
  .content-goods {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    .image.is-40vwx40vw {
      width: 40vw;
      height: 40vw;
      img {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        padding: 0.25rem;
        border: 1px $grey solid;
      }
    }
    .goods-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 0 5vw;
      .goods-item {
        width: 42vw;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        margin-bottom: 0.8rem;
      }
    }
  }
  .content-goods .name {
    padding-top: 1.0rem;
  }
  .content-goods .price {
    padding-top: 0.56rem;
  }
}

.goods-detail {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }
  .goods-content {
    position: relative;
  }
  .goods-item {
    margin-top: -.2rem;
    margin-bottom: 0.6rem
  }
  .goods-description{
    margin-top:0.5rem;
  }
  .goods-bottom {
    height: 4.3rem;
    background-color: $blue;
  }
  .bottom-left {
    border-right: 1px $white solid;
  }
  .left-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 0.45rem;
    .content-item {
      width: 3.1rem;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      margin-left: 3vw;
      background-color: $blue;
      border: 1px $white solid;
      color: $white;
    }
  }
  .goods-buyNow {
    height: 4.3rem;
    width: 100%
  }
  .goods-sellOut {
    height: 100%;
    background-color: $bottom-line-dark;
    div {
      color: $white;
      height: 4.5rem;
      padding-top: 1.25rem;
      font-weight: 400
    }
  }
}

.my-orders {
  .media p:not(:last-child) {
    margin-bottom: .2rem;
  }
  .item {}
  .card {
    box-shadow: none;
    font-size: 1.25rem;
    .is-vertical {
      flex-direction: column;
      align-items: flex-start;
    }
    .has-bottom-line {
      @extend .has-bottom-line;
      border: none;
      box-shadow: none;
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    .card-header-title {
      font-weight: normal;
    }
    .card-content {
      padding: .5rem 0;
    }
    .card-footer-item.has-text-right {
      justify-content: flex-end;
    }
    &:not(:last-child):after {
      @include bottom-line(.5rem, $bottom-line-light);
      width: 100vw;
      bottom: -.5rem;
    }
  }
}

.my-addresses {
  .card {
    box-shadow: none;
    font-size: 1.25rem;
    &:not(:last-child) {
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
    }
    .card-header-icon {
      padding-right: 1.5rem;
    }
    &:not(:last-child):after {
      @include bottom-line(1.0rem, $bottom-line-light);
      width: 100vw;
      bottom: -.5rem;
    }
  }
  .addresses-content {
    margin-top: 0.5rem;
    position: relative;
  }
  .addresses-bottom {
    height: 3.4rem;
  }
  .card-content {
    .columns {
      width: 95vw;
    }
  }
  .tile {
    p {
      margin-top: -.5rem;
    }
  }
}

.place-order {
  article {
    padding: 1.0rem;
    p {
      line-height: 1.2rem;
    }
  }
  .card-header-title {
    span {
      margin-left: 0.5rem;
      &:not(:last-child) {
        margin-left: 1.0rem;
      }
    }
  }
  .card-header-icon {
    margin-right: 1.0rem;
  }
  .media-content {
    p {
      margin-bottom: 0rem;
      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }
  }
  .content {
    p {
      margin-top: -1rem;
      margin-bottom: 0.5rem;
    }
  }
  .order-bottom {
    padding-top: 1rem;
  }
}