.currency {
  &.CNY:before {
    content: '¥';
  }
  &.USD:before {
    content: '$';
  }
}

.mall-index {
  position: relative;
  margin: 1rem;
  .content-goods {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    figure.image.is-40vwx40vw {
      width: 36vw;
      height: 36vw;
      img {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        padding: 0.35rem;
        border: 1px $grey solid;
      }
    }
    .goods-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 0 8vw;
      .goods-item {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        margin-bottom: 0.8rem;
      }
    }
  }
  .content-goods .name {
    font-weight: 400;
    padding-top: 1.0rem;
  }
  .content-goods .price {
    font-weight: 400;
    padding-top: 0.56rem;
    color: $primary;
  }
}

.goods-detail {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }
  h5,
  label {
    font-weight: 400;
  }
  .goods-content {
    margin: 1rem;
    position: relative;
  }
  .goods-bottom {
    height: 4.3rem;
    background-color: $blue;
  }
  .subtitle {
    font-weight: 400;
  }
  .bottom-left {
    border-right: 1px $white solid;
  }
  .left-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 0.45rem;
    .content-item {
      width: 3rem;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      margin-left: 3vw;
      background-color: $blue;
      border: 1px $white solid;
      color: $white;
    }
  }
  .goods-price {
    color: $primary;
  }
  .goods-buyNow {
    height: 4.3rem;
  }
  .goods-sellOut {
    height: 100%;
    background-color: $bottom-line-dark;
    div {
      color: $white;
      height: 4.5rem;
      padding-top: 1.25rem;
      font-weight: 400
    }
  }
}

.my-orders {
  .media p:not(:last-child) {
    margin-bottom: .5rem;
  }
  .card {
    .card-footer-item.has-text-right {
      justify-content: flex-end;
    }
  }
}