<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8"/>
    <title> Firevale Account Profile </title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <link href="<%= static_url(@conn, "/css/app_commons.css") %>" rel="stylesheet"/>
    <link href="<%= static_url(@conn, "/css/app.css") %>" rel="stylesheet"/>
  </head>
  <body class="<%= @conn.private[:acs_body_class] %>">
    <div id="app">
      <router-view></router-view>
    </div>
    <script>
      window.acsConfig = {
        csrfToken: '<%= get_csrf_token() %>',
        inApp: <%= @conn.private[:acs_browser] == "webview" || @conn.private[:acs_platform] == "wp8" %>,
        platform: '<%= @conn.private[:acs_platform] %>',
        locale: '<%= @conn.private[:acs_locale] %>',
        accessToken: '<%= @conn.private[:acs_access_token] %>',
        deviceId: '<%= @conn.private[:acs_device_id] %>',
        user: {
          id: <%= @user.id %>,
          nickname: '<%= @user.nickname %>',
          email: '<%= @user.email %>',
          mobile: '<%= @user.mobile %>',
          gender: '<%= @user.gender %>',
          residentId: '<%= @user.resident_id %>',
          residentName: '<%= @user.resident_name %>',
          avatarUrl: '<%= @user.avatar_url %>',
        },
        defaultAvatarUrl: 'https://fvvrres.firevale.com/avatar/6b55aad73c03a9fca6fb0c81b8b564a7.png',
        is_mobile_account_supported: <%= @is_mobile_account_supported %>,
      }
    </script>
    <script src="<%= static_url(@conn, "/js/app_commons.js") %>"></script>
    <script src="<%= static_url(@conn, "/js/app.js") %>"></script>
  </body>
</html>
