<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8"/>
    <title>
      <%= gettext "Firevale Platform Admin Page" %>
    </title>
    <meta name="admin" content="app-id=com.firevale.vrstorecn">
    <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="APP" name="description"/>
    <meta content="APP" name="keywords"/>
    <meta content="APP" name="author"/>
    <meta content="APP" name="copyright"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no, email=no" name="format-detection"/>
    <meta content="webkit" name="renderer"/>
    <meta content="true" name="HandheldFriendly"/>
    <meta content="320" name="MobileOptimized"/>
    <meta content="portrait" name="screen-orientation"/>
    <meta content="portrait" name="x5-orientation"/>
    <meta content="yes" name="full-screen"/>
    <meta content="true" name="x5-fullscreen"/>
    <meta content="application" name="browsermode"/>
    <meta content="app" name="x5-page-mode"/>
    <meta content="no" name="msapplication-tap-highlight"/>
    <meta content="no-siteapp" http-equiv="Cache-Control"/>
    <link href="<%= static_path(@conn, "/css/admin.css") %>" rel="stylesheet"/>
</html>
<body>
  <div id="app"></div>
  <script>
    window.acsConfig = {
      csrfToken: '<%= get_csrf_token() %>',
    }
  </script>
  <script src="<%= static_path(@conn, "/js/admin_commons.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/admin.js") %>"></script>
</body>
