<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8"/>
    <title>
      Login
    </title>
    <meta name="Login" content="app-id=com.firevale.vrstorecn">
    <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <%= if @browser == "webview" do %>
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <% else %>
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <% end %>
    <meta content="APP" name="description"/>
    <meta content="APP" name="keywords"/>
    <meta content="APP" name="author"/>
    <meta content="APP" name="copyright"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no, email=no" name="format-detection"/>
    <meta content="webkit" name="renderer"/>
    <meta content="true" name="HandheldFriendly"/>
    <meta content="320" name="MobileOptimized"/>
    <meta content="portrait" name="screen-orientation"/>
    <meta content="portrait" name="x5-orientation"/>
    <meta content="yes" name="full-screen"/>
    <meta content="true" name="x5-fullscreen"/>
    <meta content="application" name="browsermode"/>
    <meta content="app" name="x5-page-mode"/>
    <meta content="no" name="msapplication-tap-highlight"/>
    <meta content="no-siteapp" http-equiv="Cache-Control"/>
    <link href="<%= static_path(@conn, "/css/login.css") %>" rel="stylesheet"/>
</html>
<body<%= if @browser == "webview" do %> class="in-app" <% end %>>
  <div id="app">
    <router-view></router-view>
  </div>
  <script>
    window.acsConfig = {
      isMobileAccountSupported: <%= @is_mobile_account_supported %>,
      csrfToken: '<%= get_csrf_token %>',
      redirectUrl: '<%= @redirect_url %>',
      inApp: <%= @browser == "webview" %>,
      platform: '<%= @platform %>',
      locale: '<%= @locale %>',
      init: undefined,
    }
  </script>
  <script src="<%= static_path(@conn, "/js/login_commons.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/login.js") %>"></script>
</body>
