<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8"/>
    <title>
      Firevale Payment Page
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <%= unless Mix.env in [:dev, :test] do %>
    <link href="<%= static_url(@conn, "/css/app_commons.css") %>" rel="stylesheet"/>
    <link href="<%= static_url(@conn, "/css/app.css") %>" rel="stylesheet"/>
    <% end %>
  </head>
  <body class="<%= @conn.private[:acs_body_class] %>">
    <div id="app">
      <router-view></router-view>
    </div>
    <script>
      window.acsConfig = {
        csrfToken: '<%= get_csrf_token() %>',
        inApp: <%= @conn.private[:acs_browser] == "webview" || @platform == "wp8" %>,
        accessToken: '<%= @conn.private[:acs_access_token] %>',
        platform: '<%= @platform %>',
        locale: '<%= @conn.private[:acs_locale] %>',
        appId: '<%= @app_id %>',
        deviceId: '<%= @conn.private[:acs_device_id] %>',
        goodsId: '<%= @goods_id %>',
        order_id: '<%= @order_id %>',
        goods_name: '<%= @goods_name %>',
        goods_icon: <%= if is_nil(@goods_icon) do %>
                    null
                    <% else %>
                    '<% @goods_icon %>'
                    <% end %>,
        price: <%= @price %>,
        currency: '<%= @currency %>',
      }
    </script>
    <script src="<%= static_url(@conn, "/js/app_commons.js") %>"></script>
    <script src="<%= static_url(@conn, "/js/app.js") %>"></script>
  </body>
</html>
