<%= gettext "Dear %{name},", name: @name %>

  <%= gettext "Your verify code is %{token} .", token: @token %>
  <%= gettext "Please noted that the code will expire in 24 hours." %>


  <%= gettext "Firevale Account Center" %>